<div class="topnav">
  <a class="active" href="#home">Trang chủ</a>
  <a href="#news">Tin tức</a>
  <a href="#contact">Liên hệ</a>
  <a href="#about">Về chúng tôi</a>
  <a href="form">Nhập thông tin</a>
  </div>